* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;                     
}

.links {
    background: rgba(0, 0, 0, 0.1);
    padding: 32px;  
    text-align: center;
}

header div a  {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    margin: 30px;
}
 
header div a:hover{
    color:#50fa7b;
    transition: color 400ms;
}

footer {
    position: static;
    left: 0;
    bottom: 38px;
    width: 100%;
    text-align: center;
}

#EmpresaIMG {
    text-align: center;
    padding: 30px;
}

#EmpresaIMG img {
    border-radius: 50%;
}

#EmpresaIMG h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 38px;
    margin: 40px;
}


#Tecnologias {
    text-align: center;
}

#Tecnologias ul {
    line-height: normal;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    line-height: 38px;
    margin: 10px;
}

#Tecnologias img {
    padding: 15px;
    height: 80px;
}

#Tecnologias h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 38px;
    margin: 10px;
}

#SocialMedias img {
    height: 32px;
    filter: grayscale(100%);
    border-radius: 50px;
}

#SocialMedias img:hover {
    -moz-box-shadow: 0 0 1px #50fa7b;
    -webkit-box-shadow: 0 0 10px #50fa7b;
    box-shadow: 0 0 10px #50fa7b;
    filter: blur(0.1px);
    border-radius: 50%
}
